.text-center{
	text-align: center;
}
.font-size{
	font-size: 25px;

}
body{
	margin: auto;
	width: 50%;
}
.size{
	width: 100%;
	height: 40px;
}
.margin{
	margin: 10px 10px 10px 0px;
}
.sex{
	margin-right: 100px;
}
.submit{
	text-align: center;

}
.reset-nav{
	width: 23%;
	height: 30px;


}
.submit-nav{
	width: 32%;
	height: 30px;
	background-color: #4287f5;

}