body{
	background-color: #F6F3E5;
}
.container{
	background-color: white;
	width: 85%;
	margin: auto;
	padding: 30px;

}
.sidebar
{
	float: right;
	width: 250px ;
	padding-left: 30px;


}
.article{
	float: left;
	width: 65%;
}
.content{
	clear: both;
	display: inline-block;
}

