.ip_pic_right{
	width: 15%;
}
.ipad_pic_right{
	width: 20%;
}
.boder_top{
	border-top: 1px solid black;
}
.hr_middle{
	width: 100%;
}
.font_size{
	font-size: 25px;
}
.font_color{
	color: gray;
}
.font_color_p{
	color: #DDDDDD;
}
.button_top{
	border-radius: 15px;
	height: 40px;
	border: 1px solid #5AA3E4;
	background-color: #5AA3E4;
	color: white;
	width: 65%;
}
.button_bottom{
	border-radius: 15px;
	border: 1px solid #709A3D;
	background-color: #709A3D;
	color: white;
	height: 40px;
	width: 35%;
}
table{
	width: 75%;
	margin: auto;
	border: 1px solid black
}
