.container{
	width: 50%;
	margin: 0px auto;
	padding: 30px 50px;
	border: 1px solid gray;
	font-family: sans-serif;
	line-height: 1.2;
}
.header{
	text-align: center;
}
.content{
	margin-top: 37px;
}
.contact_size{
	font-size: 18px;
}
.text_transform{
	text-transform: uppercase;
}
.text_margin{
	margin: 0px;
}
.para{
	float: right;
}
.paragraph{
	margin: 6px 0px;
}
.underline{
	margin: 1px 0px;
}